.main {
    background-color: #ffde89;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.all {
    background-color: #fff5ea;
}
input {
    margin: 10px 0;
}

select{
    margin: 10px 0;
}

th {
    background-color: #fff5ea;
    text-align: center;
}
.tx {
    font-size: medium;
    text-align: center;
    font-weight: bold;
}